h1 {
  text-align: center;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f3e1ef;
  width: 80%;
  margin: auto;
}

td,
th {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #def1ff;
}

tr:nth-child(odd) {
  background-color: white;
}

label,
select {
  display: block;
}

select,
input,
a,
button {
  margin-bottom: 10px;
  border-radius: 6px;
}

button {
  background-color: #3c4856;
  color: white;
  height: 30px;
  border: none;
}

input {
  height: 20px;
}
span {
  font-size: 150%;
}
