<% if login_failed %>
    <h3>Wrong email or password, try again</h3>
<% end %>

<form action="/session" method="POST">
    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password: </label>
    <input type="password" name="password">
    <button>Submit</button>
</form>