<% if login_failed %>
    <h3>邮箱或密码不正确,请重试</h3>
<% end %>

<form action="/session" method="POST">
    <label for="">邮箱: </label>
    <input type="text" name="email">

    <label for="">密码: </label>
    <input type="password" name="password">
    <button>登录</button>
</form>