
<% if wrong_password == true %>
    <h3>密码不相符,请重试.</h3>
<% end %>
<form action="/new" method="POST">
    <label for="">名字: </label>
    <input type="text" name="name">

    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">你是否需要为你的队伍排班? </label>
    <select name="is_manager">
        <option value="n">否,我只需要填写班表</option>
        <option value="y">是,我要帮团队排班</option>
    </select>

    <label for="">密码: </label>
    <input type="password" name="password">

    <label for="">再次输入密码： </label>
    <input type="password" name="confirm_password">

    <button>提交</button>

</form>