<h1>Hi <%= current_user['name'] %></h1>
<form action="/timesheets/new" method="POST">
    <label for="">Your Manager_id: </label>
    <% if uploaded?(current_user['id']) %>
        <input type="text" name="manager_id" value=<%= find_timesheet(current_user['id'])['manager_id'] %>>
    <% else %>
        <input type="text" name="manager_id">
    <% end %>
    <label for="">Monday: </label>
    <select name="mon">
        <option value="u">Unavailable</option>
        <% if day_available("mon", current_user['id']) %>
            <option value="a" selected>Available</option>
        <% else %>
            <option value="a">Available</option>
        <% end %>
    </select>

    <label for="">Tuesday: </label>
    <select name="tue">
        <option value="u">Unavailable</option>
        <% if day_available("tue", current_user['id']) %>
            <option value="a" selected>Available</option>
        <% else %>
            <option value="a">Available</option>
        <% end %>
    </select>

    <label for="">Wednesday: </label>
    <select name="wed">
        <option value="u">Unavailable</option>
        <% if day_available("wed", current_user['id']) %>
            <option value="a" selected>Available</option>
        <% else %>
            <option value="a">Available</option>
        <% end %>
    </select>

    <label for="">Thursday: </label>
    <select name="thu">
        <option value="u">Unavailable</option>
        <% if day_available("thu", current_user['id']) %>
            <option value="a" selected>Available</option>
        <% else %>
            <option value="a">Available</option>
        <% end %>
    </select>

    <label for="">Friday: </label>
    <select name="fri">
        <option value="u">Unavailable</option>
        <% if day_available("fri", current_user['id']) %>
            <option value="a" selected>Available</option>
        <% else %>
            <option value="a">Available</option>
        <% end %>
    </select>

    <label for="">Saturday: </label>
    <select name="sat">
        <option value="u">Unavailable</option>
        <% if day_available("sat", current_user['id']) %>
            <option value="a" selected>Available</option>
        <% else %>
            <option value="a">Available</option>
        <% end %>
    </select>

    <label for="">Sunday: </label>
    <select name="sun">
        <option value="u">Unavailable</option>
        <% if day_available("sun", current_user['id']) %>
            <option value="a" selected>Available</option>
        <% else %>
            <option value="a">Available</option>
        <% end %>
    </select>

    <label for="">Notes: </label>
    <% if uploaded?(current_user['id']) %>
        <textarea name="notes" cols="30" rows="10"><%= find_timesheet(current_user['id'])['notes'] %></textarea>
        <button>Edit</button>
    <% else %>
        <textarea name="notes" cols="30" rows="10"></textarea>
        <button>Submit</button>
    <% end %>
</form>